
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Change</title>
</head>
<body>
        <h3>Please enter your new Password.</h3>
</body>
</html>
