
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
        <h3 style="text-align: center">
            Password Changed Successfully...
        </h3>
</body>
</html>
