@using Hadia.Models.ViewModels
@model ChapterViewModel
@{
    ViewData["Title"] = "Create";
}
<form asp-action="Edit" asp-controller="Chapter" enctype="multipart/form-data" method="post">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Edit Chapter</h5>
            <div class="header-elements">
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class=" control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormedOn" class=" control-label"></label>
                <input asp-for="FormedOn" class="form-control daterange-single" type="date" />
                <span asp-validation-for="FormedOn" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class=" control-label"></label>
                <img src='@Model.ImageLocation' asp-append-version="true" />
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class=" text-danger"></span>
            </div>
            


            <div class="card-footer d-flex justify-content-between align-items-center bg-teal-400 border-top-0">
                <a asp-action="index" class="btn bg-transparent text-white border-white border-2">Cancel</a>
                <button type="submit" class="btn btn-outline bg-white text-white border-white border-2">Save <i class="icon-paperplane ml-2"></i></button>
            </div>
        </div>
    </div>
</form>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
