@model Hadia.Models.ViewModels.UniversityMasterViewModel
@{
    ViewData["Title"] = "University";
    ViewData["Description"] = "Details";
}



<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3"> @Html.LabelFor(model => model.UniversityName)</dt>
            <dd class="col-sm-9">  @Html.DisplayFor(model => model.UniversityName)</dd>

            <dt class="col-sm-3">State</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CountryName)
            </dd>
        </dl>
    </div>
</div>

<a asp-action="Index">Back to List</a>