@model Hadia.Models.ViewModels.DistrictMasterViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>District </h4>
<hr />
<form asp-action="Create" asp-controller="DistrictMaster" method="post">
    <div class="row">
        <div class=" col-md-4">
            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
            <div class="form-group">
                <label asp-for=" DistrictName" class=" control-label"></label>
                <input asp-for=" DistrictName" class=" form-control" />
                <span asp-validation-for=" DistrictName" class=" text-danger"></span>
            </div>
            <div class="form-group">

                Select State
                @Html.DropDownListFor(x => x.StateId, Model.StateList, "--Select A List --", new { @class = "form-control" })
            </div>
            <button class="btn btn-success">Save</button>
        </div>
    </div>
</form>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}