	<script src="~/global_assets/js/plugins/maps/jvectormap/jvectormap.min.js"></script>
	<script src="~/global_assets/js/plugins/maps/jvectormap/map_files/world.js"></script>
	<script src="~/global_assets/js/demo_pages/maps/vector/vector_maps_demo.js"></script>

				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Members from Around the world</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3"></p>

						<div class="map-container map-world-markers"></div>
					</div>
				</div>