	<script src="~/global_assets/js/plugins/maps/jvectormap/jvectormap.min.js"></script>
	<script src="~/global_assets/js/plugins/maps/jvectormap/map_files/world.js"></script>
	<script src="~/global_assets/js/demo_pages/maps/vector/vector_maps_demo.js"></script>


    <div class="row">
        <div class="col-md-3">

            <!-- Invitation stats white -->
            <div class="card text-center">
                <div class="card-body">
                    <h6 class="font-weight-semibold mb-0 mt-1">Member Registration</h6>
                    <div class="text-muted mb-3">512 Registrations</div>
                    <div class="svg-center position-relative mb-1" id="progress_percentage_one">
                        <svg width="92" height="92">
                            <g transform="translate(46,46)">
                                <path class="d3-progress-background" d="M0,46A46,46 0 1,1 0,-46A46,46 0 1,1 0,46M0,43A43,43 0 1,0 0,-43A43,43 0 1,0 0,43Z" style="fill: rgb(238, 238, 238);"></path>
                                <path class="d3-progress-foreground" filter="url(#blur)" d="M3.3306690738754696e-15,-44.47471191587417A1.5,1.5 0 0,1 1.5505617977528126,-45.97385950854408A46,46 0 1,1 -44.91511521059446,-9.931385886120134A1.5,1.5 0 0,1 -43.077457057762565,-11.060411088048294L-43.077457057762565,-11.060411088048294A1.5,1.5 0 0,1 -41.985868566425246,-9.283686806590561A43,43 0 1,0 1.449438202247194,-42.97556432320425A1.5,1.5 0 0,1 3.3306690738754696e-15,-44.47471191587417Z" style="fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243);"></path>
                                <path class="d3-progress-front" d="M3.3306690738754696e-15,-44.47471191587417A1.5,1.5 0 0,1 1.5505617977528126,-45.97385950854408A46,46 0 1,1 -44.91511521059446,-9.931385886120134A1.5,1.5 0 0,1 -43.077457057762565,-11.060411088048294L-43.077457057762565,-11.060411088048294A1.5,1.5 0 0,1 -41.985868566425246,-9.283686806590561A43,43 0 1,0 1.449438202247194,-42.97556432320425A1.5,1.5 0 0,1 3.3306690738754696e-15,-44.47471191587417Z" style="fill: rgb(33, 150, 243); fill-opacity: 1;"></path>
                                <text dx="0" dy="8" style="font-size: 22px; line-height: 1; fill: rgb(33, 150, 243); text-anchor: middle;">79%</text>
                            </g>
                        </svg>
                    </div>
                </div>

                <div class="card-body border-top-0 pt-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-uppercase font-size-xs text-muted">Approved</div>
                            <h5 class="font-weight-semibold line-height-1 mt-1 mb-0">312</h5>
                        </div>
                        <div class="col-6">
                            <div class="text-uppercase font-size-xs text-muted">Pending</div>
                            <h5 class="font-weight-semibold line-height-1 mt-1 mb-0">200</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /invitation stats white -->

        </div>

        

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">

                    <!-- Bar chart in colored card -->
                    <div class="card bg-danger-400 has-bg-image">
                        <div class="card-body">
                            <div class="d-flex">
                                <h3 class="font-weight-semibold mb-0">3,450</h3>
                                <span class="badge bg-danger-800 badge-pill align-self-center ml-auto">+53,6%</span>
                            </div>

                            <div>
                                Members online
                                <div class="font-size-sm opacity-75">489 avg</div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div id="chart_bar_color"><svg width="318.0113525390625" height="50"><g width="318.0113525390625"><rect class="d3-random-bars" width="9.160820855034721" x="3.9260660807291665" height="25" y="25" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="17.012953016493057" height="47.5" y="2.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="30.099839952256946" height="30" y="20" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="43.186726888020836" height="47.5" y="2.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="56.27361382378472" height="25" y="25" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="69.36050075954861" height="45" y="5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="82.44738769531251" height="42.5" y="7.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="95.5342746310764" height="37.5" y="12.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="108.62116156684029" height="30" y="20" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="121.70804850260417" height="25" y="25" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="134.79493543836804" height="25" y="25" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="147.88182237413193" height="50" y="0" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="160.96870930989584" height="50" y="0" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="174.05559624565973" height="35" y="15" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="187.14248318142361" height="37.5" y="12.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="200.2293701171875" height="37.5" y="12.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="213.31625705295139" height="32.5" y="17.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="226.40314398871527" height="27.500000000000004" y="22.499999999999996" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="239.49003092447916" height="50" y="0" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="252.57691786024304" height="25" y="25" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="265.66380479600696" height="40" y="10" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="278.75069173177087" height="32.5" y="17.5" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="291.83757866753473" height="40" y="10" style="fill: rgba(255, 255, 255, 0.75);"></rect><rect class="d3-random-bars" width="9.160820855034721" x="304.92446560329864" height="30" y="20" style="fill: rgba(255, 255, 255, 0.75);"></rect></g></svg></div>
                        </div>
                    </div>
                    <!-- /bar chart in colored card -->

                </div>

                <div class="col-md-4">

                    <!-- Line chart in colored card -->
                    <div class="card bg-blue-400 has-bg-image" style="zoom: 1;">
                        <div class="card-body">
                            <div class="d-flex">
                                <h3 class="font-weight-semibold mb-0">4,389</h3>
                                <div class="list-icons ml-auto">
                                    <a class="list-icons-item" data-action="reload"></a>
                                </div>
                            </div>

                            <div>
                                Orders weekly
                                <div class="font-size-sm opacity-75">4,728 avg</div>
                            </div>
                        </div>

                        <div id="line_chart_color"><svg width="338.0113525390625" height="50"><g transform="translate(0,0)" width="338.0113525390625"><defs><clipPath id="clip-line-small"><rect class="clip" width="338.0113525390625" height="50"></rect></clipPath></defs><path d="M20,8.46153846153846L69.66855875651042,25.76923076923077L119.33711751302084,5L169.00567626953125,15.384615384615383L218.67423502604166,5L268.34279378255206,36.15384615384615L318.0113525390625,8.46153846153846" clip-path="url(#clip-line-small)" class="d3-line d3-line-medium" style="stroke: rgb(255, 255, 255);"></path><g><line class="d3-line-guides" x1="20" y1="50" x2="20" y2="8.46153846153846" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="69.66855875651042" y1="50" x2="69.66855875651042" y2="25.76923076923077" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="119.33711751302084" y1="50" x2="119.33711751302084" y2="5" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="169.00567626953125" y1="50" x2="169.00567626953125" y2="15.384615384615383" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="218.67423502604166" y1="50" x2="218.67423502604166" y2="5" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="268.34279378255206" y1="50" x2="268.34279378255206" y2="36.15384615384615" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="318.0113525390625" y1="50" x2="318.0113525390625" y2="8.46153846153846" style="stroke: rgba(255, 255, 255, 0.5); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line></g><g><circle class="d3-line-circle d3-line-circle-medium" cx="20" cy="8.46153846153846" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="69.66855875651042" cy="25.76923076923077" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="119.33711751302084" cy="5" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="169.00567626953125" cy="15.384615384615383" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="218.67423502604166" cy="5" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="268.34279378255206" cy="36.15384615384615" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="318.0113525390625" cy="8.46153846153846" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(41, 182, 246); opacity: 1;"></circle></g></g></svg></div>
                    </div>
                    <!-- /line chart in colored card -->

                </div>

                <div class="col-md-4">

                    <!-- Sparklines in colored card -->
                    <div class="card bg-success-400 has-bg-image">
                        <div class="card-body">
                            <div class="d-flex">
                                <h3 class="font-weight-semibold mb-0">49.4%</h3>
                                <div class="list-icons ml-auto">
                                    <div class="list-icons-item dropdown">
                                        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="icon-sync"></i> Update data</a>
                                            <a href="#" class="dropdown-item"><i class="icon-list-unordered"></i> Detailed log</a>
                                            <a href="#" class="dropdown-item"><i class="icon-pie5"></i> Statistics</a>
                                            <a href="#" class="dropdown-item"><i class="icon-cross3"></i> Clear list</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                Current server load
                                <div class="font-size-sm opacity-75">34.6% avg</div>
                            </div>
                        </div>

                        <div id="sparklines_color"><svg width="338.0113525390625" height="50"><g transform="translate(0,0)" width="338.0113525390625"><defs><clipPath id="load-clip-sparklines_color"><rect class="load-clip" width="338.0113525390625" height="50"></rect></clipPath></defs><g clip-path="url(#load-clip-sparklines_color)"><path d="M-13.000436636117788,23.666666666666668L-10.833697196764822,24.77777777777778C-8.666957757411858,25.88888888888889,-4.333478878705929,28.11111111111111,0,25.22222222222222C4.333478878705929,22.333333333333332,8.666957757411858,14.333333333333332,13.000436636117787,15.666666666666666C17.333915514823715,17,21.667394393529644,27.666666666666668,26.000873272235577,29.000000000000004C30.334352150941505,30.333333333333336,34.66783102964744,22.333333333333332,39.00130990835336,18.111111111111107C43.334788787059296,13.888888888888886,47.66826766576522,13.444444444444441,52.00174654447115,13.444444444444443C56.33522542317708,13.444444444444441,60.66870430188301,13.888888888888886,65.00218318058894,13.666666666666664C69.33566205929488,13.444444444444441,73.66914093800081,12.555555555555554,78.00261981670674,16.111111111111107C82.33609869541266,19.666666666666664,86.66957757411859,27.666666666666664,91.00305645282451,30.55555555555555C95.33653533153043,33.44444444444444,99.67001421023636,31.22222222222222,104.00349308894229,26.111111111111107C108.33697196764822,21,112.67045084635416,13,117.00392972506009,14.555555555555555C121.33740860376602,16.11111111111111,125.67088748247195,27.222222222222225,130.0043663611779,28.11111111111111C134.33784523988382,29,138.67132411858975,19.666666666666664,143.00480299729568,19.666666666666664C147.33828187600162,19.666666666666664,151.67176075470755,29,156.00523963341348,29C160.33871851211939,29,164.67219739082532,19.666666666666664,169.00567626953122,13.888888888888888C173.33915514823715,8.111111111111109,177.6726340269431,5.888888888888886,182.00611290564902,7.22222222222222C186.33959178435492,8.555555555555554,190.67307066306086,13.444444444444445,195.0065495417668,14.555555555555555C199.34002842047272,15.666666666666668,203.67350729917865,13,208.00698617788458,11.666666666666664C212.34046505659052,10.333333333333332,216.67394393529645,10.333333333333332,221.00742281400238,14.999999999999998C225.34090169270831,19.666666666666664,229.67438057141425,29,234.00785945012018,33.44444444444444C238.3413383288261,37.888888888888886,242.67481720753204,37.44444444444444,247.00829608623798,37.44444444444444C251.3417749649439,37.44444444444444,255.67525384364984,37.888888888888886,260.0087327223558,37.888888888888886C264.3422116010617,37.888888888888886,268.67569047976764,37.44444444444444,273.00916935847357,34.77777777777778C277.3426482371795,32.11111111111111,281.67612711588544,27.22222222222222,286.00960599459137,24.777777777777775C290.34308487329724,22.333333333333332,294.6765637520032,22.333333333333332,299.0100426307091,23.88888888888889C303.34352150941504,25.444444444444443,307.677000388121,28.555555555555557,312.0104792668269,28.111111111111114C316.34395814553284,27.66666666666667,320.67743702423877,23.666666666666668,325.01091590294465,19.444444444444443C329.34439478165064,15.222222222222221,333.67787366035657,10.777777777777777,338.01135253906244,8.555555555555554C342.34483141776843,6.333333333333332,346.67831029647436,6.333333333333332,351.01178917518024,10.555555555555555C355.3452680538862,14.777777777777779,359.6787469325921,23.222222222222225,361.84548637194507,27.44444444444445L364.01222581129804,31.66666666666667L364.01222581129804,50L361.84548637194507,49.999999999999986C359.6787469325921,49.99999999999999,355.3452680538862,49.99999999999999,351.01178917518024,49.999999999999986C346.67831029647436,49.99999999999999,342.34483141776843,49.99999999999999,338.01135253906244,49.999999999999986C333.67787366035657,49.99999999999999,329.34439478165064,49.99999999999999,325.0109159029447,49.999999999999986C320.67743702423877,49.99999999999999,316.34395814553284,49.99999999999999,312.0104792668269,49.999999999999986C307.677000388121,49.99999999999999,303.34352150941504,49.99999999999999,299.0100426307091,49.999999999999986C294.6765637520032,49.99999999999999,290.34308487329724,49.99999999999999,286.0096059945913,49.999999999999986C281.67612711588544,49.99999999999999,277.3426482371795,49.99999999999999,273.00916935847357,49.999999999999986C268.67569047976764,49.99999999999999,264.3422116010617,49.99999999999999,260.0087327223558,49.999999999999986C255.67525384364984,49.99999999999999,251.3417749649439,49.99999999999999,247.00829608623798,49.999999999999986C242.67481720753204,49.99999999999999,238.3413383288261,49.99999999999999,234.00785945012018,49.999999999999986C229.67438057141425,49.99999999999999,225.34090169270831,49.99999999999999,221.00742281400238,49.999999999999986C216.67394393529645,49.99999999999999,212.34046505659052,49.99999999999999,208.00698617788458,49.999999999999986C203.67350729917865,49.99999999999999,199.34002842047272,49.99999999999999,195.0065495417668,49.999999999999986C190.67307066306086,49.99999999999999,186.33959178435492,49.99999999999999,182.00611290564902,49.999999999999986C177.6726340269431,49.99999999999999,173.33915514823715,49.99999999999999,169.00567626953125,49.999999999999986C164.67219739082532,49.99999999999999,160.33871851211939,49.99999999999999,156.00523963341345,49.999999999999986C151.67176075470755,49.99999999999999,147.33828187600162,49.99999999999999,143.00480299729568,49.999999999999986C138.67132411858975,49.99999999999999,134.33784523988382,49.99999999999999,130.0043663611779,49.999999999999986C125.67088748247195,49.99999999999999,121.33740860376602,49.99999999999999,117.00392972506009,49.999999999999986C112.67045084635416,49.99999999999999,108.33697196764822,49.99999999999999,104.00349308894229,49.999999999999986C99.67001421023636,49.99999999999999,95.33653533153043,49.99999999999999,91.00305645282452,49.999999999999986C86.66957757411859,49.99999999999999,82.33609869541266,49.99999999999999,78.00261981670673,49.999999999999986C73.66914093800081,49.99999999999999,69.33566205929488,49.99999999999999,65.00218318058894,49.999999999999986C60.66870430188301,49.99999999999999,56.33522542317708,49.99999999999999,52.001746544471146,49.999999999999986C47.66826766576522,49.99999999999999,43.334788787059296,49.99999999999999,39.00130990835336,49.999999999999986C34.66783102964744,49.99999999999999,30.334352150941505,49.99999999999999,26.000873272235573,49.999999999999986C21.667394393529644,49.99999999999999,17.333915514823715,49.99999999999999,13.000436636117787,49.999999999999986C8.666957757411858,49.99999999999999,4.333478878705929,49.99999999999999,0,49.999999999999986C-4.333478878705929,49.99999999999999,-8.666957757411858,49.99999999999999,-10.833697196764822,49.999999999999986L-13.000436636117788,50Z" class="d3-area" style="fill: rgba(255, 255, 255, 0.75); opacity: 1;" transform="translate(-13.000436782836914,0)"></path></g></g></svg></div>
                    </div>
                    <!-- /sparklines in colored card -->

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <i class="icon-enter6 icon-3x text-indigo-400"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0">245,382</h3>
                                <span class="text-uppercase font-size-sm text-muted">total visits</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Members from Around the world</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3"></p>

						<div class="map-container map-world-markers"></div>
					</div>
				</div>