@model Hadia.Models.ViewModels.CountryViewModel
@{
    ViewData["Title"] = "Country";
    ViewData["Description"] = "Create";

}
<form asp-action="Create" method="post">
    <div class="card">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryCode" class=" control-label"></label>
                <input asp-for="CountryCode" class=" form-control" />
                <span asp-validation-for="CountryCode" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeZone" class=" control-label"></label>
                <input asp-for="TimeZone" class="form-control" />
                <span asp-validation-for="TimeZone" class=" text-danger"></span>
            </div>
        </div>
        
        <div class="card-footer d-flex justify-content-between align-items-center bg-white">
            <a asp-action="Index" class="btn btn-light">Cancel</a>
            <div class="d-inline-flex">
                <button type="reset" name="SaveNew"  value="SaveNew"  class="btn btn-warning">Save & New</button>
                <button type="submit" name="btnSave"  value="Save" class="btn bg-blue ml-3">Save <i class="icon-paperplane ml-2"></i></button>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

