@model Hadia.Models.ViewModels.EducationQualifictaionEditViewModel
<form id="educationQualificationform">
    <div class="card-body">
        
        <dl class="row">
            <input type="hidden" asp-for="Id" />
            <dt class="col-sm-3">
                Qualification:
            </dt>
            <dd class="col-sm-9">
                <select asp-for="EducationQualificationId" asp-items="Model.QualificationList" class="form-control">
                    <option>--Select Qualification--</option>
                </select>
               
            </dd>
            <dt class="col-sm-3">
                University:
            </dt>
            <dd class="col-sm-9">
                <select asp-for="UniversityId" asp-items="Model.UniversityList" class="form-control">
                    <option>--Select University--</option>
                </select>
               
            </dd>
            <dt class="col-sm-3">
                Passout Year:
            </dt>
            <dd class="col-sm-9">
                <input asp-for="PassoutYear" class="form-control" />
                <span asp-validation-for="PassoutYear" class="text-danger"></span>
            </dd>
            <dt class="col-sm-3">
                Specialization:
            </dt>
            <dd class="col-sm-9">
                <input asp-for="Specialization" class="form-control" />
            </dd>
        </dl>

    </div>
    <button id="btnSaveEditQualification" type="button" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-warning">Cancel</button>
</form>


