@model Hadia.Models.ViewModels.MemberDetailsViewModel
<div class="card-body">
    <table class="table table-framed">
<thead>
    <tr>
        Sn
        </tr>
    <tr>
        Project Title
        </tr>
    <tr>
        Description
        </tr>

    </thead>
        @{ int Sn = 0;}
        @foreach(var item in Model.ProjectWorks)
        {
            <tr>
                <td>
                    @(Sn +=1)
                </td>
                <td>
                    @Html.DisplayFor(x=>item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(x=>item.Description)
                </td>

            </tr>
        }
<tbody>
    </tbody>
</table>
</div>