@model Hadia.Models.ViewModels.ProfileEditViewModel
<form id="editProfileform">
    <input asp-for="Id" hidden />
    <dl class="row">
        <dt class="col-sm-3">
            Member Name:
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Name" class="form-control" />
        </dd>
        <dt class="col-sm-3">
            Batch Name:
        </dt>
        <dd class="col-sm-9">
            <select asp-for="GroupId" asp-items="Model.BatchList" class="form-control">
                <option>--Select Batch--</option>
            </select>
        </dd>
        <dt class="col-sm-3">
            Chapter Name:
        </dt>
        <dd class="col-sm-9">
            <select asp-for="ChapterId" asp-items="Model.ChapterList" class="form-control">
                <option>--Select Chapter--</option>
            </select>
        </dd>
        <dt class="col-sm-3">
            Contact Number:
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Phone" class="form-control" />
        </dd>
        <dt class="col-sm-3">
            Present Address:
        </dt>
        <dd class="col-sm-9">
            <p><textarea asp-for="PresentAddress" class="form-control">@Model.PresentAddress</textarea></p>
        </dd>
        <dt class="col-sm-3">
            Permanant Address:
        </dt>
        <dd class="col-sm-9">
            <p><textarea asp-for="PermanentAddress" class="form-control">@Model.PermanentAddress</textarea></p>
        </dd>
        <dt class="col-sm-3">
            UG College:
        </dt>
        <dd class="col-sm-9">
            <select asp-for="UgCollageId" asp-items="Model.UgCollegeList" class="form-control">
                <option>--Select Ug College--</option>
            </select>
        </dd>
        <dt class="col-sm-3">
            Date of Birth:
        </dt>
        <dd class="col-sm-9">
            <input asp-for="DateOfBirth"  type="date" class="form-control" />
        </dd>
        <dt class="col-sm-3">
            Email:
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Email" class="form-control" />
        </dd>
    </dl>
    <button type="button" id="btnProfileSave" class="btn btn-success">Save</button>
</form>

