@model Hadia.Models.DomainModels.Mem_SpouseEducationMaster
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Spouse Education </h4>
<hr />
<form asp-action="Create" asp-controller="SpouseEducation" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" form-group">
                <label asp-for="QualificationName" class="control-label"></label>
                <Input asp-for="QualificationName" class="form-control" />
                <span asp-validation-for="QualificationName" class="text-danger"></span>
            </div>
            <button class="btn btn-success">Save</button>
        </div>
    </div>

</form>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }
