@model Hadia.Models.DomainModels.Mem_SpouseEducationMaster
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<h4>Spouse Education</h4>
<hr />
<form asp-action="Edit" asp-controller="SpouseEducation" method="post">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="CLogin" />
            <input type="hidden" asp-for=" CDate" />
            <input type="hidden" asp-for=" Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="QualificationName" class="control-label"></label>
                    <input asp-for="QualificationName" class="form-control" />
                    <span asp-validation-for="QualificationName" class=" text-danger"></span>
                </div>
                <button class="btn btn-success">Save</button>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}